<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.amatola.citypetfinder" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LostPetActivity"
            android:label="@string/title_activity_lost_pet"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.amatola.citypetfinder.MainActivity" />
        </activity>
        <activity
            android:name=".LostPetListActivity"
            android:label="@string/title_activity_lost_pet_list"
            android:parentActivityName=".LostPetActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.amatola.citypetfinder.LostPetActivity" />
        </activity>
        <activity
            android:name=".LostPetViewActivity"
            android:label="@string/title_activity_lost_pet_view"
            android:parentActivityName=".LostPetListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.amatola.citypetfinder.LostPetListActivity" />
        </activity>
        <activity
            android:name=".LostPetAddActivity"
            android:label="@string/title_activity_lost_pet_add"
            android:parentActivityName=".LostPetListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.amatola.citypetfinder.LostPetListActivity" />
        </activity>
    </application>

</manifest>
